server:
  port: 8080
  error:
    whitelabel:
      enabled: false
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param

  datasource:
    url: jdbc:postgresql://localhost:5432/monsterdex_db
    username: postgres
    password: 123456
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      "[hibernate.format_sql]": true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  h2:
    console:
      enabled: false

# Segurança (dev): autenticação desativada por configuração Java (SecurityFilterChain)
# Futuro: reativar autenticação e remover a liberação geral.

# springdoc (Swagger UI) – ajustes opcionais
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

# API Externa - Unsplash
unsplash:
  api:
    key: mXoMa0h9wPkCk-F9j44RmY-c8zx61G2MKgFowR4V-3s
    url: https://api.unsplash.com
